{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "react-native/react-native": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-native/all",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "@react-native-community",
    "plugin:react/jsx-runtime",
    "plugin:security/recommended",
    "plugin:unicorn/recommended",
    "plugin:sonarjs/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "react-native",
    "import",
    "prettier",
    "unicorn",
    "security",
    "sonarjs"
  ],
  "rules": {
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    "react-native/sort-styles": [
      "error",
      "asc",
      { "ignoreClassNames": false, "ignoreStyleProperties": false }
    ],
    "sort-keys": [
      "error",
      "asc",
      { "caseSensitive": true, "natural": false, "minKeys": 2 }
    ],
    "sort-vars": ["error"],
    "import/extensions": [0, "always", { "ignorePackages": true }],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "prettier/prettier": ["error", { "endOfLine": "auto" }, { "usePrettierrc": true }],
    "react/display-name": [0, { "ignoreTranspilerName": true }],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 0,
    "react-native/no-color-literals": 1,
    "react-native/no-raw-text": 0,
    "react-native/no-single-element-style-arrays": 0,
    "react/no-unescaped-entities": 0,
    "import/order": [1, { "newlines-between": "always" }],
    "import/namespace": [0, { "allowComputed": false }],
    "react/no-unstable-nested-components": [0, { "allowAsProps": true }],
    "unicorn/filename-case": 0,
    "unicorn/no-nested-ternary": 0,
    "security/detect-non-literal-require": "error",
    "sonarjs/cognitive-complexity": "error",
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-module": 0,
    "unicorn/no-null": 0,
    "security/detect-object-injection": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "paths": ["./"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
